.PropertySearcherForm {
    width: 800px;
    margin-left: 80px;
}
.PropertySearcherForm td {
    padding-top: 10px;
}
.PropertySearcherForm td:nth-child(odd) {
    text-align: right;
    padding-right: 5px;
}
.PropertySearcherForm td:nth-child(even) {
    text-align: left;
}
.PropertySearcherForm td:nth-child(2) {
    padding-right: 100px;
}
.PropertySearcherForm tr:nth-child(3) {
    width: 100%;
    text-align: right;
}
.PropertySearcherForm input {
    width: 200px;
}
.PropertySearcherForm select {
    width: 200px;
}
.PropertySearcherForm .submit_button {
    width: 100px;
    height: 50px;
    background-color: darkgreen;
    color: white;
}